#icon{
    font-size: 2rem;
}

.open{
    margin-left: 0;
    transition: all .5s;
}

.close{
    margin-left: -30rem;
    transition: all .5s;
}

.inactif{
    background-color: #B53131;
    color: #FEE269; 
}

.actif{
    background-color: #FEE269;
    color: #B53131;
}

.container-cart{
    display:flex;
    position: fixed;
    top : 20rem;
}

.container-r-cart{
    padding: .5rem 2rem;
    width: 30rem;
    height: 100vh;    
    background-color: #B53131;
}

.container-r-cart .items{
    width: 28rem;
    height: 280px;
    overflow: auto;
    padding-left: 2rem;
    background-color: #fff;
}

.container-r-cart ul{
    padding: 0;
}
.container-r-cart ul li{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
}

.container-r-cart ul li span:first-child{
    width: 15rem;
    font-size: 1.3rem;
}

.container-r-cart ul li span:nth-child(2){
   margin: 0 1rem;
   font-weight: 800;
}

.container-l-cart{
    cursor: pointer;
    padding: 1rem;
    padding-right: 2rem;
    width: 7rem;
    height: 4.1rem;
    border-top-right-radius:1.5rem;
    border-bottom-right-radius:1.5rem;
    text-align: right;
}
